@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .hide-scrollbar {
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hide-x-scrollbar {
    overflow-y: hidden; /* Hide y-axis scrollbar */
  }
}

@layer components {
  .primary-btn {
    @apply w-full bg-[#5142FF] text-white font-medium rounded-lg text-center hover:bg-indigo-500 transition-colors;
  }
}
